/**************QMainWindow****************/

QMainWindow QWidget{
    background-color: #e0e0e0;
    color : #000000;
}

/* Conf de los separadores de la ventada */
QMainWindow::separator {
    width: 1px;
    background-color: #e0e0e0;
}

/* CUSTOMIZING Widgets */
/* Conf de la barra de estado */
QStatusBar {
    color:    #000;
    background-color:  qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                      stop:0.0 rgb(255, 255, 255),
                                      stop:0.9 rgb(235, 235, 235),
                                      stop:1.0 rgb(0,47,87));
}

/* Conf de los dockwidgets */
QLineEdit {
    border: 1px solid rgb(0,47,87);
    border-radius: 5px;
}

*::down-arrow, *::menu-indicator {
    width: 7px;
    height: 7px;
	color: black;
}

QComboBox{
    border: 1px solid rgb(0,47,87);
    border-radius: 5px;
}

/* Customize the menu bar. */
QMenuBar::item:hover {
    background-color: #000;
}

QPushButton:!hover {
	color:    #fff;
    background-color:  qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                      stop:0.0 rgb(171, 201, 233),
                                      stop:0.3 rgb(65, 107,169),
                                      stop:1.0 rgb(0,47,87));
    border-radius: 5px;
    border: 1px solid rgb(0,47,87);
    padding: 4px 16px 4px 16px;
}

QDialogButtonBox
{
    color:    #fff;
    background-color:  qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                      stop:0.0 rgb(171, 201, 233),
                                      stop:0.3 rgb(65, 107,169),
                                      stop:1.0 rgb(0,47,87));
    border-radius: 5px;
    border: 1px solid rgb(0,47,87);
    padding: 4px 16px 4px 16px;
}

QPushButton:hover {
	color:    #000;
    background-color:  qlineargradient(x1:0, y1:0, x2:0, y2:1,
                                      stop:0.0 rgb(171, 201, 233),
                                      stop:0.3 rgb(65, 107,169),
                                      stop:1.0 rgb(0, 47, 87));
    border-radius: 5px;
    border: 1px solid rgb(0,47,87);
    padding: 4px 16px 4px 16px;
}

QDockWidget::title {
	background-color: #e0e0e0;
    color: black;
    padding-left: 6px;
    padding-top:  4px;
}

QToolBar QToolButton{
	border-radius: 3px;
}

QToolBar QToolButton:hover {
    background-color: #e0e0e0;
    color: #000;
    border-radius: 5px;
    border: 1px solid #a0a0a0;
}

QToolBar QToolButton:checked {
    background-color: #e0e0e0;
    color: #000;
    border-radius: 5px;
    border: 1px solid #a0a0a0;
}

QToolBox {
    icon-size:32px;
}

QToolBox::tab {
	background-color: transparent ;
    color: rgb(0,47,87);
    border-bottom: 1px dotted rgb(0,47,87);
    font: bold 12px;
}

QToolBox::tab:selected {
    background: rgb(0,47,87);
    color: white;
    border-bottom: none;
}

/**************ItemViews***************/
QTreeView {
    background: #e0e0e0;
    color: black;
    border: none;
    icon-size: 16px;
    selection-background-color: #ebebeb;
}

QTreeView::item {
    color: black;
    icon-size: 16px;
    border: none;
}
QTreeView::item:hover {
	background-color: #e0e0e0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

QTreeView::item:selected {
	color: black;
	background-color: #e0e0e0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top: 1px solid #a0a0a0;
	border-bottom: 1px solid #a0a0a0;
	border-left: 1px solid #a0a0a0;
}

/*Paleta de componentes, QListView para los elementos externos y QTableView para los internos*/
QListView, QTableView {
    background-color: #e0e0e0;
}
QHeaderView::section {
    background: rgb(147,168,205);
    border: 1px;
    padding: 2px;
    color: black;
    font-weight: bold;
}

/**************QTabWidget*****************/
/* CUSTOMIZING QTabWidget and QTabBar */
QTabWidget::pane {
	background-color: #e0e0e0;
    border: 1px solid rgb(0,47,87);
}

QTabBar::tab {
    background-color: #e0e0e0;
    color: #000;
	padding: 4px 16px 4px 16px;
    margin-top: 2px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border: 1px solid #a0a0a0;
	border-bottom: 2px solid #909090;
	max-height: 16px;
}

QTabBar::tab:selected {
    background-color: #e0e0e0;
    color: rgb(0,47,87);
    border: 1px solid #a0a0a0;
    border-bottom: 2px solid rgb(0,47,87);
}

QTabBar::tab:hover {
	background-color: #e0e0e0;
    color: #000;
}

/********ScrollBars************/
QScrollBar:vertical {
    border: none;
    background: #f4f4f4;
    width: 10px;
    margin: 20px 0 20px 0;
}

QScrollBar:horizontal {
    border: none;
    background: rgb(171,201,233);
    height: 10px;
    margin: 0px 20px 0px 20px;
}

QScrollBar::handle:vertical {
    background: rgb(171,201,233);
    min-height: 5px;
}

QScrollBar::handle:horizontal {
    background: rgb(171,201,233);
    min-height: 5px;
}

QScrollBar::add-line:vertical {
    border: none;
    background: #f4f4f4;
    height: 20px;
    subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
    border: none;
    background: #f4f4f4;
    height: 20px;
    subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::add-line:horizontal {
    border: none;
    background: #f4f4f4;
    width: 20px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:horizontal {
    border: none;
    background: #f4f4f4;
    width: 20px;
    subcontrol-position: left;
    subcontrol-origin: margin;
}


QScrollBar::up-arrow, QScrollBar::down-arrow, QScrollBar::left-arrow, QScrollBar::right-arrow {
    border: 1px solid white;
    width: 8px;
    height: 8px;
    background: none;
}

QScrollBar::up-arrow:vertical {
    border-image: url(:/img/up-01.png);
}

QScrollBar::down-arrow:vertical {
    border-image: url(:/img/down-01.png);
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

/******************************************************************/







QScrollBar::handle:horizontal {
   /* background: #000000;*/
    min-width: 20px;
}

QScrollBar::add-line:horizontal {
   /* background: #000000;*/
    width: 20px;
    subcontrol-position: right;
    subcontrol-origin: margin;
    border: none;
}

QScrollBar::sub-line:horizontal {
   /* background: #000000;*/
    width: 20px;
    subcontrol-position: left;
    subcontrol-origin: margin;
    border: none;
}

QScrollBar::left-arrow:horizontal {
    border-image: url(:/img/left-01.png);
}

QScrollBar::right-arrow:horizontal {
    border-image: url(:/img/right-01.png);
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background-color: #e0e0e0;
}

